apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpmyadmin
  namespace: ostara
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec:
      containers:
      - name: phpmyadmin
        image: phpmyadmin/phpmyadmin:latest
        ports:
        - containerPort: 80
        env:
        - name: PMA_HOST
          value: mariadb
        - name: PMA_ABSOLUTE_URI
          value: http://localhost/
        volumeMounts:
        - name: sessions
          mountPath: /sessions
      volumes:
      - name: sessions
        emptyDir: {}
